@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: #ecf2f8;
  padding: 74px 24px;
}

.card {
  padding: 26px 32px 32px 32px;
}

.author {
  display: flex;
  align-items: center;
  column-gap: 17px;
}

.user {
  border: 2px solid #a775f1;
  border-radius: 50%;
  width: 28px;
  height: 28px;
}

.name {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: white;
}

.status {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: white;
  opacity: 0.5;
  margin-top: 4px;
}
